#friends-display-link {
    text-align :center;
    display : block;
    background-color: #fafafa;
    padding : 15px 0px;
    font-size : 16px;
    margin-bottom: 5px;
}

#friends-display-link i {
    color : rgba(0,0,0,0.3);
    margin-right : 5px;
}

.friends-screen {
    padding : 0px var(--horizontal-space);
}

.friends-screen__channel-header {
   margin-top : 20px;
   padding : 15px 15px;
   background-color: #fafafa;
   display : flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid rgba(0,0,0,0.2);
   opacity:80;
   color : rgba(0,0,0,0.6);
}