.more_name{
    margin-bottom: 8px;
}

.more_number {
    position : relative;
}

.more_number span{
     margin-left : 8px;
     display: flex;
     width : 18px;
     height: 18px;
     justify-content: center;
     position: absolute;
     color : tomato;
     border : 1px solid tomato;
     border-radius: 50%;
     top : -2px;
     right : -30px; 
}

.more_option {
    margin-top : 35px;
    padding-top : 15px;
    display : flex;
    justify-content: space-between;
    margin-right : 20px;
    margin-left : 20px;
}


.more_option:last-child {
    padding-bottom : 30px;
}

.more_option i{
    font-size : 45px;

}

.more_option span {
    font-size : 20px;
}

.more_option div {
    width : 68px;
}

.suggestions {
     margin-top : 60px;
     padding-top : 30px;
     border-top : 1px solid gray;
}

.suggestions_headline {
    margin-bottom : 40px;
    font-weight : 600;
    font-size: 19px;
}


.suggestion__item {
    display : flex;
    justify-content: space-between;
}


.suggestion__box {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.suggestion__box i{
    display : flex;
    background-color: rgb(250,225,0);
    width : 55px;
    height : 55px;
    border-radius: 10px;
    color : white; 
    align-items: center;
    justify-content: center;
    font-size : 30px;
    margin-bottom : 10px;
}