.nav {
    background-color: #f9f9fa;
    padding : 20px 50px;
    border-top : 1px solid rgba(0,0,0,0.3);
    position:fixed;
    bottom : 0;
    width : 100%;
    box-sizing: border-box;
}

.nav__list {
    display:flex;
    justify-content: space-between;
}

.nav__link {
    color : #2e363e;
    position : relative;
}

.nav_notification {
    background-color: tomato;
    display : flex;
    width : 20px;
    height : 20px;
    border-radius: 50%;
    justify-content: center;
    position:absolute;
    left:15px;
    top:-15px;
}

.nav_dot {
    color : tomato;
    font-size:60px;
    position:absolute;
    left : 25px;
    top : -60px;
}