.user-component,
.user-component__column {
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.user-component__avatar {
    height : 74px;
    width : 74px;
    border-radius : 55px;
    margin-right: 20px;
}

.user-component__title {
    font-size : 19px;
    font-weight : 600;
    margin-bottom: 5px;
}

.user-component__subtitle {
    color : rgba(0,0,0,0.5);
}

.user-component__avatar--xl {
    height : 80px;
    width : 80px;
}

.user-component {
    margin-bottom : 10px;
}

.user-component__column:last-child {
    margin-right : 15px;

}

.user-component__music {
    display : flex;
    justify-content: flex-end;
    border : 1.2px solid rgb(1,185,37);
    border-radius: 14px;
    padding : 7px 5px;
}


.user-component__music span {
    margin-right : 4px;
    font-size : 13.5px;
}

.user-component__music i {
    font-size : 13px;
    color : rgb(1,185,37);
}
